<div>
  <form [formGroup]="filterForm">
    <button type="button" class="btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseStop">
      <span class="d-flex align-items-center">
        Stops
        <ng-container *ngIf="!isCollapsed">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </ng-container>
        <ng-container *ngIf="isCollapsed">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </ng-container>
      </span>
    </button>
    <div class="pt-3" id="collapseStop" [collapse]="isCollapsed" [isAnimated]="true">
      <label class="custom-control custom-checkbox d-flex align-items-center ">
        <input type="checkbox" class="custom-control-input" id="nonStop" formControlName="nonStop">
        <span class="custom-control-label pt-1" for="nonStop">Direct</span>
      </label>
    </div>
    <hr>
    <button type="button" class="btn" (click)="isAirlinesCollapsed = !isAirlinesCollapsed"
      [attr.aria-expanded]="!isAirlinesCollapsed" aria-controls="collapseStop">
      <span class="d-flex align-items-center">
        Airlines
        <ng-container *ngIf="!isAirlinesCollapsed">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </ng-container>
        <ng-container *ngIf="isAirlinesCollapsed">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </ng-container>
      </span>
    </button>
    <div class="pt-3" id="collapseStop" [collapse]="isAirlinesCollapsed" [isAnimated]="true">
      <span class="mt-3"></span>
      <div *ngFor="let airline of airlines">
        <span class="d-flex justify-content-between">
          <label class="custom-control custom-checkbox pb-2">
            <input type="checkbox" class="custom-control-input" [value]="airline?.code" [id]="airline?.code"
              formControlName="airlines" (change)="getAirlineCodes(airline?.code)">
            <span class="custom-control-label pt-1" [attr.for]="airline?.code">{{airline?.name|titlecase}}</span>
          </label>
          <span *ngIf="airline?.price">{{airline?.price|currency}}</span>
        </span>
      </div>
    </div>
    <hr>
    <button type="button" class="btn" (click)="isMaxPriceCollapsed = !isMaxPriceCollapsed"
      [attr.aria-expanded]="!isMaxPriceCollapsed" aria-controls="collapseStop">
      <span class="d-flex align-items-center">
        Price
        <ng-container *ngIf="!isMaxPriceCollapsed">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </ng-container>
        <ng-container *ngIf="isMaxPriceCollapsed">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </ng-container>
      </span>
    </button>
    <div class="pt-3" id="collapsePrice" [collapse]="isMaxPriceCollapsed" [isAnimated]="true">
      <div class="custom-slider">
        <ng5-slider [options]="options" formControlName="maxPrice"></ng5-slider>
      </div>
    </div>
    <hr>
    <button type="button" class="btn" (click)="isCurrencyCollapsed = !isCurrencyCollapsed"
      [attr.aria-expanded]="!isCurrencyCollapsed" aria-controls="collapseCurrency">
      <span class="d-flex align-items-center">
        Currency
        <ng-container *ngIf="!isCurrencyCollapsed">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </ng-container>
        <ng-container *ngIf="isCurrencyCollapsed">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </ng-container>
      </span>
    </button>
    <div class="mb-3 pt-3" id="collapseCurrency" [collapse]="isCurrencyCollapsed" [isAnimated]="true">
      <select class="custom-select" formControlName="currencyCode">
        <!-- <option selected value="0">Anytime</option> -->
        <option *ngFor="let currency of currencies" [value]="currency?.value">{{currency?.name}}</option>
      </select>
    </div>
  </form>
</div>