<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-8">
        <span
          class="d-block d-sm-none font-weight-bold mb-2">{{flight?.price?.total|currency:flight?.price?.currency:'symbol':'1.0-0'}}</span>
        <div *ngFor="let item of flight.itineraries; first as first; last as last">
          <a role="button" class="d-flex justify-content-between mb-3" (click)="showDetailsModal(offerDetails)">
            <div>
              <span class="d-flex align-items-center">{{item?.segments[0]?.departure?.at|time}} -
                {{item?.segments[item?.segments?.length-1]?.arrival?.at|time}}</span>
              <span class="d-flex justify-content-between align-items-center">{{item?.segments[0]?.departure?.iataCode}}
                - {{item?.segments[item?.segments?.length-1]?.arrival?.iataCode}},
                {{item?.segments[0]?.carrierName|titlecase}}</span>
            </div>
            <div class="d-flex flex-column">
              <span>
                {{item?.duration|formatDuration}}</span>
              <ng-container *ngIf="first"> {{flight?.outboundChanges}}</ng-container>
              <ng-container *ngIf="last"> {{flight?.inboundChanges}}</ng-container>
            </div>
          </a>
        </div>
        <!-- <div class="mb-3">
          <span class="d-flex justify-content-between align-items-center">{{item?.segments[0]?.departure?.at|time}}
            <hr />{{item?.segments[item?.segments?.length-1]?.arrival?.at|time}}</span>
          <span class="d-flex justify-content-between align-items-center">{{item?.segments[0]?.departure?.iataCode}}
            <span>
              {{item?.duration|formatDuration}}</span>
            {{item?.segments[item?.segments?.length-1]?.arrival?.iataCode}}</span>
        </div>
      </div> -->
      </div>
      <div class="col-sm-4 d-none d-sm-flex flex-column align-items-center ">
        <span>{{flight?.price?.total|currency:flight?.price?.currency:'symbol':'1.0-0'}}</span>
        <p class="pt-3"> <button class="btn btn-info" (click)="showDetailsModal(offerDetails)">View Deal</button></p>
      </div>
    </div>
    <div class="border-top mt-2 d-flex justify-content-between pt-3">
      <span *ngFor="let airline of flight?.validatingAirlineNames">
        <p> {{airline|titlecase}}</p>
      </span>
      <span role="button">
        <mat-icon>favorite_border</mat-icon>
      </span>
    </div>
  </div>
</div>

<ng-template #offerDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngTemplateOutlet="details">
  </div>
</ng-template>

<ng-template #details>
  <!-- <h5>{{flight}}</h5> -->
  <div *ngFor="let item of flight.itineraries; first as first; last as last">
    <span *ngFor="let segment of item?.segments">
      <span class="d-flex mb-3">
        <!-- <span class="mr-2">{{segment?.carrierName}}</span> -->
        <span class="mr-2">{{segment?.carrierName|titlecase}}</span>
       <span> {{segment.departure?.at|time}} {{segment.departure.iataCode}} </span>
        - <span>{{segment.arrival?.at|time}} {{segment.arrival.iataCode}}</span>
        <span class="ml-2">{{segment.duration|formatDuration}}</span>
       </span>
     </span>
  </div>
</ng-template>