<div class="card mb-3 mx-2">
  <div class="card-body">
    <div *ngFor="let item of flight.itineraries">
      <span *ngFor="let segment of item?.segments">
       <span class="d-flex mb-3">
         <span class="mr-2">{{segment?.carrierName|titlecase}}</span>
        <span> {{segment.departure?.at|time}} {{segment.departure.iataCode}} </span>
         - <span>{{segment.arrival?.at|time}} {{segment.arrival.iataCode}}</span>
         <span class="ml-2">{{segment.duration|formatDuration}}</span>
        </span>
      </span>
    </div>
  </div>
</div>