<form [formGroup]="searchForm" (ngSubmit)="searchFlights()" autocomplete="off">
  <div class="custom-control custom-radio custom-control-inline py-3">
    <input type="radio" id="return" name="tripType" value="return" class="custom-control-input"
      formControlName="tripType">
    <label class="custom-control-label" for="return">Return</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="oneWay" name="tripType" value="oneWay" class="custom-control-input"
      formControlName="tripType">
    <label class="custom-control-label" for="oneWay">One way</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="multi" name="tripType" value="multi" class="custom-control-input"
      formControlName="tripType">
    <label class="custom-control-label" for="multi">Multi</label>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-2">
      <label for="origin">From</label>
      <input class="form-control" type="search" id="origin" formControlName="origin" [typeahead]="suggestions$"
        [typeaheadAsync]="true" typeaheadOptionField="name" (typeaheadOnSelect)="onSelectOrigin($event)">
    </div>
    <div class="form-group col-sm-2">
      <label for="destination">To</label>
      <input class="form-control" type="search" id="destination" formControlName="destination"
        [typeahead]="destinationSuggestions$" [typeaheadAsync]="true" typeaheadOptionField="name"
        (typeaheadOnSelect)="onSelectDestination($event)">
    </div>
    <div class="form-group col-sm-3">
      <div class="d-flex">
        <div class="form-group">
          <label>Depart</label>
          <input class="form-control" type="search" id="departureDate" formControlName="departureDate" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }">
        </div>
        <div class="form-group">
          <label>Return</label>
          <input class="form-control" type="search" id="returnDate" formControlName="returnDate" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }">
        </div>
      </div>
    </div>
    <div class="form-group col-sm-3 d-none d-sm-block">
      <label>Cabin class & travellers</label>
      <button class="form-control btn btn-default" type="button" [popover]="travellersDesktop"
        popoverTitle="Template ref content inside" placement="bottom" containerClass="test"><span>
          {{classAndTravellers}}</span></button>
    </div>
    <div class="form-group col-sm-3 d-block d-sm-none">
      <label>Cabin class & travellers</label>
      <button class="form-control btn btn-default" type="button" (click)="showTravellersModal(travellersMobile)">
        <span> {{classAndTravellers}}</span>
      </button>
    </div>
    <div class="form-group col-sm-2 mt-2">
      <label></label>
      <button class="btn btn-primary btn-block" type="submit">Search</button>
    </div>
  </div>
</form>

<ng-template class="test" #travellersDesktop>
  <div *ngTemplateOutlet="formTemplate">
  </div>
</ng-template>

<ng-template #travellersMobile>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngTemplateOutlet="formTemplate">
  </div>
</ng-template>

<ng-template #formTemplate>
  <form [formGroup]="searchForm">
    <div class="form-group col-12">
      <label>Cabin class</label>
      <select class="custom-select" formControlName="travelClass">
        <option *ngFor="let item of travelClasses" [value]="item?.value">{{item?.name}}</option>
      </select>
    </div>
    <div class="form-group col-12 pt-3">
      <div class="row">
        <span class="col-6">Adult 12+</span>
        <span class="col-6 d-flex justify-content-between pl-sm-0">
          <button class="btn-icon" (click)="decreaseNumber('adults')">
            <mat-icon class="icon-display text-black-50">remove_circle_outline</mat-icon>
          </button>
          <input type="text" class="plain-text text-center" formControlName="adults" />
          <button class="btn-icon" (click)="increaseNumber('adults')">
            <mat-icon class="icon-display text-secondary">control_point</mat-icon>
          </button>
        </span>
      </div>
    </div>
    <div class="form-group col-12 ">
      <div class="row">
        <span class="col-6">Children 2-11</span>
        <span class="col-6 d-flex justify-content-between pl-sm-0">
          <button class="btn-icon" (click)="decreaseNumber('children')">
            <mat-icon class="icon-display text-black-50">remove_circle_outline</mat-icon>
          </button>
          <input type="text" class="plain-text text-center" formControlName="children" />
          <button class="btn-icon " (click)="increaseNumber('children')">
            <mat-icon class="icon-display text-secondary">control_point</mat-icon>
          </button>
        </span>
      </div>
    </div>
    <div class="form-group col-12">
      <div class="row">
        <span class="col-6">Infants under 2</span>
        <span class="col-6 d-flex justify-content-between pl-sm-0">
          <button class="btn-icon" (click)="decreaseNumber('infants')">
            <mat-icon class="icon-display text-black-50">remove_circle_outline</mat-icon>
          </button>
          <input type="text" class="plain-text text-center" formControlName="infants" />
          <button class="btn-icon" (click)="increaseNumber('infants')">
            <mat-icon class="icon-display text-secondary">control_point</mat-icon>
          </button>
        </span>
      </div>
    </div>
  </form>
</ng-template>